{% extends "base.html.twig" %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
  
    {% if editMode %}
        <h1>Edit article</h1>
    {% else %}
        <h1>Create new article</h1>
    {% endif %}

    {{ form_start(formArticle) }}

    {{  form_row(formArticle.title, {'attr': {'placeholder': "Title of the article"}}) }}
    {{  form_row(formArticle.content, {'attr': {'placeholder': "Content of the article"}}) }}
    {{  form_row(formArticle.image, {'attr': {'placeholder': "image URL"}}) }}
    
    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Save changes
        {% else %}
            Create article
        {% endif %}
    </button>

    {{ form_end(formArticle) }}
{% endblock %}