{% extends "base.html.twig" %}

{% block body %}
<article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Wrote the {{ article.createdAt | date('d/m/Y') }} at {{ article.createdAt | date('H:i') }} in the category Nature</div>
        <div class="content">
            <img src="{{article.image}}" alt="Foto article {{ article.title }}">
            {{ article.content | raw }}
        </div>
    </article>
{% endblock body %}