{% extends "base.html.twig" %}

{% block body %}
<article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Wrote the {{ article.createdAt | date('d/m/Y') }} at {{ article.createdAt | date('H:i') }} in the category {{ article.category.title }}</div>
        <div class="content">
            <img src="{{article.image}}" alt="Foto article {{ article.title }}">
            {{ article.content | raw }}
        </div>
        <hr>
    </article>

    <section id="commentaires">
        <h1>{{ article.comments | length }} comments :</h1>
        {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.author}} (<small>{{ comment.createdAt | date('d/M/Y')}} at 
                        {{ comment.createdAt | date('H:i')}}</small>)
                </div>
                <div class="col">
                    {{comment.content | raw}}
                </div>
            </div>
        </div>
        {% endfor %}
        
        {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.author, {'attr': {'placeholder': "Your name"}})}}
        {{ form_row(commentForm.content, {'attr': {'placeholder': "Your comment"}})}}
        <button type="submit" class="btn btn-success">
            Public comment
        </button>
        {{ form_end(commentForm) }}
        {% else %}

            <h2>If you want to write a comment you have to login.</h2>
            <a href="{{ path('security_login')}}" class="btn btn-primary">
                Connect
            </a>
        {% endif %}
    </section>


{% endblock body %}